form {
    background-color: #519872;
    color: #34252F;
    padding: 10px;
    border-style: groove;
    border-radius: 10px;
    font-family: cursive;
    font-size: 1.5em;
}

.titleDiv {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    border-style: groove;
    border-radius: 10px;
    padding-left: .25em;
    padding-right: .01em;
}

.inputs {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    padding-left: 3em;
}

.inputDiv {
    background-color: #A4B494;
    border-style: groove;
    border-radius: 10px;
}

.purchaseLabel {
    background-color: #34252F;
    color: white;
    margin-top: 10px;
    padding-left: 15px;
    border-style: groove;
    border-radius: 10px;
}

.purchaseDiv {
    background-color: #3B5249;
    color: white;
    margin-top: 10px;
    padding-left: 15px;
    border-style: groove;
    border-radius: 10px;
}

.purchaseResponse {
    display: flex;
    flex-direction: column;
}

.addItem {
    background-color: #F58351;
    color: white;
    margin-top: 10px;
    border-style: groove;
    border-radius: 10px;
    font-family: cursive;
}

